.App {
  text-align: center;
}

.finalInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.finalInput > p {
  font-size: 20px;
}
.finalInput > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.finalInput > form > input {
  height: 3rem;
  width: 20rem;
  font-size: 30px;
  margin: 5px;
}
.finalInput > form > button{
  display: block;
  height: 3rem;
  width: 10rem;
  font-size: 30px;
}