*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  /* display: block;
  margin: 0;
  padding: 0; */
}

html, body {
  height: 100%;
  font-family: Consolas;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  overflow-y: auto;
  padding: 20px;
}
h1 {
  font-size: 50px;  
  font-weight: bold;
  /* text-decoration: underline; */
  margin-bottom: 20px;
}
#finalInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#finalInput > p {
  font-size: 20px;
  margin-bottom: 20px;
}
#finalInput > form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#finalInput > form > input {
  height: 3rem;
  width: 20rem;
  font-size: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px; 
}
#finalInput > form > button{
  display: block;
  height: 3rem;
  width: 15rem;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
#finalInput > form > button:hover {
  background-color: #45a049;
}
#outputSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 10px 0;
}